
$primary: #0077b6;
$primaryDark: #023e8a;
$primaryDarker: #03045e;

$darkest-grey: #333;
$darker-grey: #555;
$dark-grey: #777;
$grey: #999;
$light-grey: #BBB;
$lighter-grey: #EEE;
$lightest-grey: #f8f9fa;
$white: #FFF;


* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}