
$primary: #0096c7;
$primaryDark: #0077b6;
$primaryDarker: #023e8a;

$darkest-grey: #333;
$darker-grey: #555;
$dark-grey: #777;
$grey: #999;
$light-grey: #BBB;
$lighter-grey: #EEE;
$lightest-grey: #f8f9fa;
$white: #FFF;

$error: #c1121f;


* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}

a {
	&:link, &:visited {
		text-decoration: none;
		transition: all 0.3s ease-in-out 0s;
	}
}

ul {
	list-style-type: none;
}