@import '_global';


@mixin table {
	table {
		border-collapse: collapse;
		width: 100%;

		thead {
			tr {
				th {
					border-bottom: 2px solid $primary;
					padding: 1rem;
					text-align: left;
					text-transform: uppercase;
					font-weight: 500;
					color: $primary;
				}
			}
		}

		tbody {
			tr {
				td {
					border-bottom: 1px solid $lighter-grey;
					padding: 1rem;

					span {
						border-radius: 3px;
						border: 1px solid $primary;
						color: $primary;
						padding: 0.5rem 1rem;
						transition: all 0.3s ease-in-out 0s;
						cursor: pointer;

						&:hover {
							background-color: $primary;
							color: $lightest-grey;
						}
					}

					&:last-child {
						min-width: 9.25rem;
					}

					figure {
						img {
							width: 3rem;
						}
					}
				}

				&:last-child {
					td {
						border-bottom: 0;
					}
				}
			}
		}
	}
}