@import '_mixin';

main {
	font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color: $dark-grey;
	box-sizing: border-box;
	line-height: 1.5;
	font-size: 15px;

	figure {
		text-align: center;
	}

	section {
		padding: 3rem;

		h1 {
			font-weight: 500;
			font-size: 2rem;
			margin-bottom: 2rem;
			color: $darker-grey;
		}

		@include table;

		.typicode-card {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;

			> li {
				box-shadow: 0 10px 20px rgba(0,0,0,0.1);
				border-radius: 10px;
				flex: 0 0 calc(25% - 2rem);
				transition: all 0.3s ease-in-out 0s;

				.typicode-cardUpper {
					padding: 2rem;

					> li {
						margin-bottom: 1rem;
						padding-bottom: 1rem;
						border-bottom: 1px solid $lighter-grey;

						&:last-child {
							margin-bottom: 0;
							padding-bottom: 0;
							border-bottom: 0;
						}

						h3 {
							font-weight: 500;
							color: $primary;
							text-transform: capitalize;
							margin-bottom: 0.25rem;
						}
					}
				}

				.typicode-cardLower {				
					a {
						&:link, &:visited {
							text-transform: uppercase;
							display: block;
							padding: 1rem 2rem;
							color: $lightest-grey;
							background-color: $primary;
							border-bottom-left-radius: 10px;
							border-bottom-right-radius: 10px;
						}
					}
				}

				&:hover {
					background-color: $primary;

					.typicode-cardUpper {
						> li {
							h3 {
								color: $lightest-grey;
							}

							p {
								color: $lighter-grey;
							}
						}
					}

					.typicode-cardLower {				
						a {
							&:link, &:visited {
								background-color: $primaryDark;
							}
						}
					}
				}
			}
		}
	}
}