@import '_mixin';

main {
	font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color: $dark-grey;
	box-sizing: border-box;
	line-height: 1.5;
	font-size: 15px;

	section {
		padding: 1rem 3rem;

		h1 {
			font-weight: 500;
			font-size: 2rem;
			margin-bottom: 2rem;
			color: $darker-grey;
		}

		h2 {
			font-size: 1.5rem;
		}

		h3 {
			font-weight: 500;
			color: $primary;
			text-transform: capitalize;
			margin-bottom: 0.25rem;
		}

		p {
			margin-bottom: 0.15rem;
		}

		.typicode-errorBlock {
			width: 50%;
			margin: 0 auto;
			text-align: center;

			figure {
				svg {
					width: 14rem;
					height: 18rem;

					path, circle {
						fill: $light-grey;
					}
				}
			}

			h1 {
				color: $error;
				font-weight: 300;
				margin-bottom: 1.75rem;
			}

			h2 {
				color: $grey;
				font-weight: 400;
				margin-bottom: 1.25rem;
			}

			ul {
				list-style-type: disc;
				text-align: left;
				width: 80%;
				margin: 0 auto;

				li {
					padding: 3px 0;
				}
			}
		}

		.typicode-loadingBlock {
			margin: 0 auto;
			text-align: center;

			h2 {
				color: $grey;
				font-weight: 300;
				margin-top: 1rem;
			}
		}

		&.typicode-dashboard {
			.typicode-card {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;

				> li {
					box-shadow: 0 10px 20px rgba(0,0,0,0.1);
					border-radius: 7px;
					flex: 0 0 calc(25% - 1.5rem);
					transition: all 0.3s ease-in-out 0s;

					.typicode-cardUpper {
						padding: 2rem;

						> li {
							margin-bottom: 1rem;
							padding-bottom: 1rem;
							border-bottom: 1px solid $lighter-grey;

							&:last-child {
								margin-bottom: 0;
								padding-bottom: 0;
								border-bottom: 0;
							}
						}
					}

					.typicode-cardLower {				
						a {
							&:link, &:visited {
								text-transform: uppercase;
								display: block;
								padding: 1rem 2rem;
								color: $lightest-grey;
								background-color: $primary;
								border-bottom-left-radius: 7px;
								border-bottom-right-radius: 7px;
							}
						}
					}

					&:hover {
						background-color: $primary;

						.typicode-cardUpper {
							> li {
								border-color: rgba(255,255,255,0.5);

								h3 {
									color: $lightest-grey;
								}

								p {
									color: $lighter-grey;
								}
							}
						}

						.typicode-cardLower {				
							a {
								&:link, &:visited {
									background-color: $primaryDark;
								}
							}
						}
					}
				}
			}
		}

		&.typicode-users {
			.typicode-usersPosts {
				display: grid;
				grid-template-columns: 1fr 3fr;
				grid-gap: 3rem;

				.typicode-userDetails {
					background-color: $lightest-grey;
					border-radius: 7px;

					> li {
						padding: 1rem 1.5rem;
						border-bottom: 1px solid $lighter-grey;

						&:first-child {
							display: flex;
							justify-content: space-around;
							
							button {
								background-color: $primary;
								color: $lightest-grey;
								padding: 0.5rem 1rem;
								border-radius: 3px;
								transition: all 0.3s ease-in-out 0s;
								cursor: pointer;

								&:hover {
									background-color: $primaryDark;
								}
							}
						}

						h3 {
							&:first-child {
								margin-top: 0;
							}

							margin-top: 1rem;
						}

						&:last-child {
							border-bottom: 0;
						}
					}
				}

				@include table;
			}
		}
	}
}